<%- include("partial/header")%>


<div class="bg-cover bg-center h-screen" style="background-image: url('https://images.unsplash.com/photo-1715670804760-873ff70010a5?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <%- include("partial/nav")%>
    <h1 class="text-white text-center text-5xl  font-bold py-3">this is socialmedia platform <br> where people can see the posts </h1>
<p class="text-white text-center py-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
    Dicta hic perferendis voluptatibus porro voluptatem nulla aperiam? Magnam nihil consectetur maiores hic nesciunt repudiandae totam maxime optio labore minus!</p>
</div>

<%- include("partial/footer")%>