<%- include("partial/header")%>


<%- include("partial/nav")%>
<div class="rounded-x1 w-screen bg-gradient-to-r from-purple-500 to-pink-500 py-5 my-5">

    <h1  class="text-center text-8xl font-bold uppercase" >welcome here</h1>

    <h2 class="text-center text-3xl  py-3">this is home page</h2>

<div class=" flex justify-center  gap-x-10 py-5 mt-10">
    <a class=" hover:bg-blue-600 hover:italic rounded-x1 px-5 text-white bg-pink-400 py-3" href="/login">continue suffering</a>
    <a  class="hover:bg-blue-600 hover:italic rounded-x1 px-5 text-white bg-pink-400 py-3" href="/register"> start your journey today</a>
</div>


</div>

    <%- include("partial/footer")%> 