<%- include("partial/header")%>

<div class="bg-cover bg-center h-screen " style="background-image:url('https://images.unsplash.com/photo-1717852613749-2104b6bd6b39?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    
    <%- include("partial/nav")%>

    <h1  class="text-center text-8xl font-bold uppercase text-white" >welcome here</h1>

    <h2 class="text-center text-3xl  py-5 text-white">this is home page</h2>

<div class=" flex justify-center  gap-x-10 py-5 mt-10">
    <a class=" hover:bg-blue-600 hover:italic rounded-x1 px-5 text-white bg-pink-400 py-3" href="/login">continue suffering</a>
    <a  class="hover:bg-blue-600 hover:italic rounded-x1 px-5 text-white bg-pink-400 py-3" href="/register"> start your journey today</a>
</div>


</div>

    <%- include("partial/footer")%> 