<%- include("partial/header")%>


<%- include("partial/nav")%>

<h1 class="text-center font-bold uppercase text-3xl">this is update password page</h1>
<form action="/reset-password/<%= user.id%>"  class="mt-[2%]  text-center bg-gradient-to-r from-violet-500 to-fuchsia-500" method="post">

    <input class="w-[40%] mt-6 mb-10 border border-zinc-500 p-3 rounded-md text-xl " type="password" placeholder="old password" name="oldpassword">
    <br>
<br>
    <input class="w-[40%] mb-10 border border-zinc-500 p-3 rounded-md text-xl" type="password" placeholder="new password" name="newpassword">
<br>
<br>

<button>login</button>

</form> 
<br>




<%- include("partial/footer")%>  