<nav class="w-screen text-red-400  flex gap-x-10 justify-center py-5">
    <a class="hover:px-5 hover:text-white hover:bg-purple-600"  href="/">home</a>
    <a class="hover:px-5 hover:text-white hover:bg-purple-600" href="/login">login</a>
    <a class="hover:px-5 hover:text-white hover:bg-purple-600" href="/about">about</a>
</nav>